body {
    background-image: url("../../../assets/images/themes/theme1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#names {
    margin-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}
.name {
    margin: 1px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAB8klEQVR4nO3csUtbURTH8WuXpsZiLRTBUXBxUHj3P0hoMGAgIBKhsyZQp3ZRHPpuUyw0UKHN4JDBSQp1cLNDtcM73UT/GYNuR146FP8A34Hc7wd+++V33j13iToHAAAAAAAAAAAAAAAAAMD40Q9PvIROkoVrL+mdl6AkPEIH6V2SpVdJ9nHLqU78Lz8LPyg8FPrRJRKOR0PwWdqm/GBy4xNJN11+JRhAMFq56aVj5wez9y6RcOv4+oNpGIAwALUugRsg9kWwgiTO8AYIA1DrErgBYl8EK0jiDG+AMAC1LoEbIPZFsIIkzvAGCANQ6xK4AWJfBCtI4gxvgDAAtS6BGyD2RbCCJM7wBggDUOsSuAFiXwQrSOIMb4AwALUugRsgEa+g/Aei1ofwMf84d/nPnvlBfKRZvthTt3C6bX4QH2kWTt+qmzt6o4u/3psfxkeWxbN3mnfvZgctnR1s6PxJR5fOdzXJUvPD+TFN3u3S7x2d/9kedZ53714drilZM+vAzXxvDl/2m0qahXcw02/euOmvq39fHDSUNArvYPpgVVy5t7LxvFdXUi+8g6kvK+ujv9We3K/1y59rSmqFdTC5//rbg/9WUOpWW0+7FSl1K8NSt6qk+ggdVIZ5x88+Vf59+QAAAAAAAAAAAAAAAAAAuHFzD/7nR7PVK0RIAAAAAElFTkSuQmCC);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    backdrop-filter: blur(8px);
    padding: 3px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}
.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 1rem;
}
.container canvas {
    width: 500px;
    height: 400px;
    margin-top: 1rem;
}

canvas{
    border: 2px solid black;
    border-radius: 8px;
}
img{
    transition: all 1s;
    cursor: pointer;
}

img:hover , .name:hover{
    transform: scale(1.1);
}