<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Image Pinpoints</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <canvas id="canvas" width="500" height="400"></canvas>
        <div id="names">
            
        </div>
        <img src="./btn.png" width="200" height="60" onclick="window.location.reload()" />
    </div>
    
    <script src="./main.js">
   
    </script>
</body>

</html>