body {
    background-image: url("../../../assets/images/themes/theme1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#names {
    margin-left: 1rem;
    width: 15vw;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}
.name {
    margin: 4px;
    background-color: white;
    backdrop-filter: blur(8px);
    padding: 3px 12px;
    border-radius: 4px;
    color: black;
    font-family: "Courier New", Courier, monospace;
}
.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 1rem;
}

.container canvas {
    width: 500px;
    height: 400px;
    margin-top: 1rem;
}

canvas{
    border: 2px solid black;
    border-radius: 8px;
}
img{
    transition: all 1s;
    cursor: pointer;
}

img:hover , .name:hover{
    transform: scale(1.1);
}