* {
    box-sizing: border-box;
}
#title {
    background-color: transparent;
}

html {
overflow: hidden;
    overflow-y: scroll;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../../assets/images/themes/theme2.png);
    background-size: cover;
    position: relative;
}
.resetBtn{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 9999;
}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    padding: 4px;
    font-size: 16px;
}

.lesson-titles .arabic-letter {
    color: #D31145;
    font-size: 92px;
    line-height: 92px;
    
}

p#attempts {
    font-size: 20px;
    font-weight: 700;
    color: gray;
}
.lesson-titles {
    display: block;
    position:relative;
    z-index: 999;
    min-width: 100%;
     
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    z-index: 999;
}

.column-left {
    position: absolute;
    z-index: 99;
    left: 0;
}
.column-right {
    position: absolute;
    z-index: 99;
    right: 0;
}

.button-column {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
}


@media screen and(max-width : 768px) {
    .button-column{
        width: 80px !important;
    }
}
